# Entorno virtual
venv/
env/
.env

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Distribución/empaquetado
dist/
build/
*.egg-info/

# Archivos de logs
*.log

# Archivos generados durante la ejecución
assets/

# Entornos locales
.env.local

# Otros
.DS_Store
.idea/
.vscode/

# Específicos de la aplicación
*.db