# Entorno virtual
venv/
env/
.env

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Distribución/empaquetado
dist/
build/
*.egg-info/

# Archivos de logs
*.log

# Entornos locales
.env
.env.local

# Otros
.DS_Store